.navbar1{
  
  width: 100%;
  margin: auto;
  background-color: aliceblue;
  border-radius: 40px;
  height: 5rem;
  font-family: myfont;
  font-size: larger;
  letter-spacing: 1px;

  
}
.btn-admin{
  background-color: rgb(18, 74, 255);
  padding: 0.3rem 6rem;
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: 100;

}



.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 140vh;
  padding: 0 10rem;
  background-image: linear-gradient(to bottom right,rgba(86, 159, 248, 0.732),white, white);
}
.content {

}
.image {
  background-image: url(../../assets/Images/main.jpeg.png);
  background-position: center;
  background-size: contain;
  width: 30rem;
  height: 30rem;
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 10px rgb(32, 31, 31));
}

h2 {
  font-family: myfont;
  font-weight: 100;
  font-size: 2.8rem;
}
span {
  color: rgb(0, 102, 255);
}
p {
  color: rgb(13, 88, 251);
}
.btn-book {
  outline: none;
  background-color: rgb(45, 83, 232);
  color: white;
  font-family: myfont;
  padding: 0.5rem 2.5rem;
  border-radius: 20px;
  margin-right: 2rem;
  border: none;
}
.btn-contact {
  outline: none;
  background-color: rgb(248, 246, 246);
  color: rgb(59, 89, 244);
  font-family: myfont;
  padding: 0.3rem 1.8rem;
  border-radius: 20px;
  margin-right: 2rem;
}
.btn-book:hover {
  background-color: white;
  color: rgb(62, 56, 235);
  border-color: rgb(54, 102, 233);
  transition: 0.5s;
}
.btn-contact:hover {
  background-color: rgb(58, 88, 240);
  color: white;
  border-color: white;
  transition: 0.5s;
}



.points {
  width: 100dvw;
  height: 20dvh;
  background-color: rgb(36, 121, 240);
  display: flex;
  color: rgb(29, 131, 240);
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4rem;
  border-radius: 10px;
  border: 0.1px solid rgb(48, 119, 234);
}

.numbers {
  color: rgb(251, 244, 244);
  width: max-content;
  font-size: 2rem;
  font-family: myfont;
  text-align: center;
}
.cantainer {
  width: 90%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
     margin: auto;
  
  border-radius: 10px;
  gap: 2rem
  ;
  padding:0 3rem;
  
}
#about-heading-1{
  color: rgb(0, 136, 255);
  font-weight: 700;
  font-size: medium;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
#about-heading-2{
  text-transform: capitalize;
}
#about-para{
  color: black;
  font-family: myfont;
  font-weight: 100;
}
.about-1 {

  height:100%;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items:safe;
  justify-content: center;
  flex-direction: column;
  
}
.about-2 {
  background-image: url(../../assets/Images/about.jpeg);
  width: 90%;
  height: 100%;
 margin-top: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: ;

}
.about-list{
  display: flex;
  align-items: start;
  justify-content: center;
}
.about-list ul li{
  list-style: disc;
  list-style-image: url(../../assets/icons/arrow-right-circle-fill.svg);
}

.about-me{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem
  ;
  width: 20rem;
  height: 4rem;
  margin-top: 2rem;
}
.photo{
  background-image: url(../../assets/Images/1725609736076.jpg);
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: 30% 50%;
  border-radius: 50%;
  
}
.text{
  line-height: 0;
}
#name{
  margin-bottom:0 ;
  font-family: myfont;
  font-size: large;
}
#role{
  color: rgb(25, 114, 238);
  font-weight: 400;
}


.service-cantainer{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  gap: 3rem;
  margin: 5rem 0px;
}
.cards-group{
 display: flex;
 align-items: center;
 justify-content: center;
flex-wrap: wrap;
  width: 90%;
  gap: 3rem;
  height: max-content;
 
  
}
.cards{
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width:30rem;
  height: max-content;
  
}
#service-heading{
  color: rgb(34, 131, 251); 
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;

}
.hall-cantainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  height: max-content;
  margin: 6rem 0;
}
.hall-group{
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 2rem;
  height: max-content;
  flex-wrap: wrap;

}
#hall-heading{
   color: rgb(34, 131, 251); 
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.contact-cantainer{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin: auto;
height: max-content;
width: 100%;
padding: 4rem 1rem;
gap: 2rem;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
  height: 60vh;
  width: 40%;
  padding: 0 1rem;
  background-color: rgb(0, 119, 255);
  color: white;
  border-radius: 10px;

}
.Phone{
  font-family: myfont;
  font-size: larger;


}

.contact-form{
  border: 1px solid rgb(177, 177, 177);
  border-radius: 10px;
  width: 55%;
  height: 60vh;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
}






@media (max-width:650px) 
  
 {
  .navbar1{
    width: 90vw;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
   
    height: max-content;
    padding: 0;
  
    gap: 4rem;
  }
  .content {
    font-size: small;
    width: 80%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
   
  }
#about{
  height: max-content;
  
  width: 100dvw;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
  border-radius: 10px;
  
  ;
  padding:0 3rem;
   margin: 4rem 0;
}
#about-1{
  width: 90vw;
 
  padding: 0;
  gap: 1rem;
}
.about-para{
  font-size: smaller;
}
#about-2{
  display: none;
}


  p{
    width: 100%;
    text-align: center;
    margin: auto;
  }
#abc{

  width: 100vw;
  margin: auto;
 
}

  
  .image {

    padding: 0;
    width: 80%;
  }
  .contact{
    width: 90%;
  }
  .contact-form{
    width: 90%;
  }
}